{#
/**
 * @file
 * Default theme implementation to display Punchout supplier rows.
 *
 * Available variables:
 * - id:  The unique form ID.
 * - action: The punchout endpoint.
 * - params: The URL-encoded JSON array defining the PunchOut request; note that the Gateway will also accept a parameter called
             params-base64 that contains the base64-encoded JSON array
 * - shared_secret: The secret key to authenticate the punchout setup request.
 * - pos: The System session ID.
 * - return_url: The procurement system's URL that will receive the return-cart POST.
 * - distributor_image_path: The image path of the punchout supplier.
 * - href: The anchor hypertext ref.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{{ variation }}
<div class="product-listing-by-supplier-wrapper">
  <!-- repeat -->
    <figure class="items-img">
    <img src="/sites/default/files/styles/medium/public/2018-07/Etch-Rite%20Kit-2.jpg?itok=FK6_UJJq">
    </figure>
    <h3 class="item-name">{{ title }}</h3>
    <div class="pkgsection">
    <p>{{ packaging_details }}</p><p class="pkgsection__sku">{{ manufacture_sku }}</p>
    </div>
    <h5 class="item-distributor">{{ distributor }} </h5>
    <h4 class="itemprice"><span class="itemprice__formulary">{{ price }}</span><span class="itemprice__msrp">{{ msrp_price }}</span></h4>
    <form>
      <div class="field--name-quantity">
        <input data-drupal-selector="edit-quantity-0-value" class="form-number form-control" type="number" id="edit-quantity-0-value--2" name="quantity[0][value]" value="1" step="0.01" min="0" placeholder="" tabindex="0">
      </div>
      <div class="form-actions">
        <button data-drupal-selector="edit-submit" class="button button--primary js-form-submit form-submit btn-success btn" type="submit" id="edit-submit--2" name="op" value="Add to cart" tabindex="0">Add to cart</button>
      </div>
    </form>
    <!-- repeat end -->
</div>
