{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<div class="row product-detail">
  <div class="col-md-6">
    {{ product.variation_field_product_images }}
  </div>
  <div class="col-md-6">
    {{ product.title }}
    {{ product.variation_field_manufacturer_sku }}
    <label>Manufacture Name:</label>{{ product.variation_field_manufacturer }}
    <label>Distributor Name:</label>{{ product.variation_field_distributor }}
    <div class="product-price">
      <div class="product-price--formulary">
        <label class="product-price--label">Formulary</label>
        {{ product.variation_price|without('label') }}
      </div>
      <div class="product-price--msrp">
        <label class="product-price--label">(MSRP)</label>
        {{ product.variation_field_msrp_price }}
      </div>
    </div>
    {{ product.variations }}
  </div>
</div>
