{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<div class="row product-detail">
  <div class="col-md-6">
    {{ product.variation_field_product_images }}
  </div>
  <div class="col-md-6">
    {{ product.title }}
    <label>{% trans %}SKU:{% endtrans %}</label>{{ product.variation_field_manufacturer_sku }}
    {% if product.variation_field_manufacturer|render %}
      <div class="product-manufacturer prdt-var"><label>{% trans %}Manufacture:{% endtrans %}</label>{{ product.variation_field_manufacturer }}</div>
    {% endif %}
    <div class="product-distributor prdt-var"><label>{% trans %}Distributor:{% endtrans %}</label>{{ product.variation_field_distributor }}</div>
    <div class="product-pkg prdt-var">
      <label>{% trans %}Product Package:{% endtrans %}</label>{{ product.variation_field_packaging_details }}
    </div>
    <div class="product-price">
      <div class="product-price--formulary">
        <label class="product-price--label">{% trans %}Formulary{% endtrans %}</label>
        {{ product.variation_price|without('label') }}
      </div>
      <div class="product-price--msrp">
        <label class="product-price--label">{% trans %}(MSRP){% endtrans %}</label>
        {{ product.variation_field_msrp_price }}
      </div>
    </div>
    {{ product.variations }}

    <div class="product-desc">
      {{ product.variation_field_description }}
    </div>
  </div>
</div>
