{#
/**
 * @file
 * Two column template for the checkout form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
{% if form['#step_id'] == 'complete' %}
  {{ 'Thank you, Your order has been submitted'|t }}
{% endif %}
<div class="layout-checkout-form clearfix">
  <div class="layout-region layout-region-checkout-main">
    <div class="checkout-top-bar">
      <h1 class="checkout-top-bar--title">{{ form['#title'] }}</h1> 
      <div class="checkout-btn">{{ form.actions }}</div>
    </div>
    {{ form|without('sidebar', 'actions') }}
  </div>
  <div class="layout-region layout-region-checkout-secondary">
    <h3>{% trans %} Order Summary {% endtrans %}</h3>
    {{ form.sidebar }}
  </div>
  {% if form['#step_id'] == 'complete' %}
    <a href="{{ url('<front>') }}">{{ 'Continue Shopping'|t }}</a>
  {% endif %}
  <div class="layout-region layout-region-checkout-footer">
    {{ form.actions }}
  </div>
</div>
{% if form['#step_id'] == 'complete' %}
  <a href="{{ url('<front>') }}">{{ 'Continue Shopping'|t }}</a>
{% endif %}
